*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: "Source Sans Pro Topnav", sans-serif;
    height: 2000px;
}

.nav #img a{
    float: left;
    position: absolute;
    top: 0;
    margin-top: 7px;
    cursor: pointer;
    padding: 0px 16px;
}

#header{
   
    list-style: none;
    position: relative;
}

    #header .nav{
        background-color: #fff;
        height: 56px;
        display:inline-block ;
        position: absolute;
        position: fixed;
        width:100%;
        margin-right:  0;
        box-shadow: 0 0.5px 1px #5a5959;
     
    }

    #header #nav2{
        margin-left: 75px;
    }

        #header #nav2>li{
            display:inline-block ;
            line-height: 50px;
            text-align:  center;
            margin: 2px 2px;
        }

            #header #nav2 li a{
                color: #000;
                text-decoration: none;
                font-size: 15px;
                padding: 0 30px;

            }

                #header #nav2 li:hover a{
                    color: #fff;
                    background-color: orangered;
                    display: block;
                    cursor: pointer;
                    border-radius: 8px;

                }


/* Nut tim kiem */

.search>input[type="text"]{
    height: 40px;
    width: 240px;
    border-radius: 20px ;
    border: 5px;
    border-color: orangered;
    padding: 10px 8px;
    background-color: #e8e8e8;
    color: #000;
    cursor: text;
    font-size: 15px;
    margin-right: 5px;
}

#header .nav-right{
    background-color: #fff;
    height: 56px;
    display:inline-block ;
    position: absolute;
    position: fixed;
    top:0;
    right:0;
    margin-right: 20px;

}
        #header .nav-right li{
            display:inline-block ;
            text-align: center;
            margin: 2px 2px;
            position: relative;

        }

        #header .nav-right>li:hover a{
            color: #fff;
            background-color: orangered;
            display: block;
            cursor: pointer;
            border-radius: 8px;

        }


        #header .nav-right li a{
            line-height: 50px;
            color: #000;
            text-decoration: none;
            font-size: 15px;
            padding: 0 30px;


        
        }

        #header .nav-right .log{
            display: inline-block;
        }


        #header .nav-right .log:hover{
            background-color: #ccc;
            display: inline-block;
            border-radius: 200px;
            }

#header2{
    background-color: #000f64;
    height: 32.5px;
    position: fixed;
    width: 100%;
    top:56px;
    text-align: center;
}
#header2 li{
    display: inline-block;
    padding: 3px 15px;
    line-height: 25.5px;

}
        #header2 li:hover{
            background-color: #00013e;
            font-weight: bold;

        }
#header2 li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
 
}



.mid5{
    background-image: url("Background1.jpg");
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.mid5 a{
    color:white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
/*Boi mau*/ 
#javachon{
    background-color: #0f6400;
    display:block;
}
